<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Joke Server App</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>

<body>
    <section class="top-banner">
        <div class="container">
            <h1 class="heading">Joke Server App</h1>
            <div class="row">
                <h4>CATEGORIES:</h4>
                <div class="column">
                    <h4>Programming</h4>
                </div>
                <div class="column">
                    <h4>Misc</h4>
                </div>
                <div class="column">
                    <h4>Dark</h4>
                </div>
                <div class="column">
                    <h4>Pun</h4>
                </div>
                <div class="column">
                    <h4>Spooky</h4>
                </div>
                <div class="column">
                    <h4>Christmas</h4>
                </div>

            </div>
            <!-- <h1>Choose one category from the following list:</h1> -->
            <form action="/" method="post">
                <input class="category" type="text" name="jokecategory" placeholder="Enter joke's category">
                <input class="type" type="text" name="joketype" placeholder="Enter joke's type: single or twopart">
                <!-- <div class="labels"> -->
                <p>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="nsfw" placeholder="nsfw">
                        <label class="form-check-label" for="">nsfw</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="religious" placeholder="religious">
                        <label class="form-check-label" for="">religious</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="political" placeholder="political">
                        <label class="form-check-label" for="">political</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="racist" placeholder="racist">
                        <label class="form-check-label" for="">racist</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="sexist" placeholder="sexist">
                        <label class="form-check-label" for="">sexist</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="explicit" placeholder="explicit">
                        <label class="form-check-label" for="">explicit</label>
                    </div>
                </p>
                <p>
                    <h3 class="checkbox" for="">Select language: </h3>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="en" placeholder="en">
                        <label class="form-check-label" for="">en - English</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="de" placeholder="de">
                        <label class="form-check-label" for="">de - Germany</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="es" placeholder="es">
                        <label class="form-check-label" for="">es - Spanish</label>
                    </div>
                </p>

                <!-- </div> -->

                <!-- <div class="button"> -->
                <button type="submit" name="submit">Submit</button>
                <!-- </div> -->

            </form>
            <% if(joke !== null){ %>
                <span class="msg">
                        <%= joke %> <br>
                        <%= jokedelivery %>
                        
                        
                    </span>
                <% } %>

                    <% if(error !== null){ %>
                        <p>
                            <%= error %>
                        </p>
                        <% } %>
        </div>
    </section>
    <!-- <section></section> -->
    <footer class="footer">
        <div class="container">
            <small>Made with <span>❤️</span> by <a href="http://hamidkeshmiri.ir">Hamid Keshmiri Neghab</a></small>
        </div>
    </footer>
</body>

</html>