<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Joke Server App</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <section class="top-banner">
        <div class="container">
            <h1 class="heading">Joke Server App</h1>
            <form action="/" method="post">
                <input class="category" type="text" name="jokecategory" placeholder="Enter category of Joke">
                <input class="type" type="text" name="joketype" placeholder="Enter type of Joke">
                <!-- <div class="labels"> -->
                <p><label class="checkbox" for=""><input type="checkbox" name="nsfw" placeholder="nsfw">nsfw</label>
                    <label class="checkbox" for=""><input type="checkbox" name="religious" placeholder="religious">religious</label>
                    <label class="checkbox" for=""><input type="checkbox" name="political" placeholder="political">political</label>
                    <label class="checkbox" for=""><input type="checkbox" name="racist" placeholder="racist">racist</label>
                    <label class="checkbox" for=""><input type="checkbox" name="sexist" placeholder="sexist">sexist</label>
                    <label class="checkbox" for=""><input type="checkbox" name="explicit" placeholder="explicit">explicit</label></p>
                <!-- </div> -->

                <!-- <div class="button"> -->
                <button type="submit" name="submit">Submit</button>
                <!-- </div> -->

            </form>
            <% if(joke !== null){ %>
                <span class="msg">
                        <%= joke %> <br>
                        <%= jokedelivery %>
                        
                        
                    </span>
                <% } %>

                    <% if(error !== null){ %>
                        <p>
                            <%= error %>
                        </p>
                        <% } %>
        </div>
    </section>
    <!-- <section></section> -->
    <footer class="footer">
        <div class="container">
            <small>Made with <span>❤️</span> by <a href="http://hamidkeshmiri.ir">Hamid Keshmiri Neghab</a></small>
        </div>
    </footer>
</body>

</html>