<footer class="footer">
    <div class="container">
        <small>Made with <span>❤️</span> by <a href="http://hamidkeshmiri.ir">Hamid Keshmiri Neghab</a></small>
    </div>
</footer>
</body>

</html>